{% extends 'base.html' %}

{% block title %}- Add Event{% endblock title %}

{% block content %}
<div class="pure-g-r">
	<div class="pure-u-1-1">
	<h1>Add your #codeEU event</h1>
	<p><a href="#" target="_blank">How to organize your own event?</a></p>
	
	<form action="/add/" method="post" class="pure-form pure-form-stacked" id="event">{% csrf_token %}
		<fieldset>
	    {% for field in form %}
            {{ field.label_tag }} {{ field }}
            {{ field.errors }}
	    {% endfor %}
	   <p><input type="submit" value="Add event" class="pure-button pure-button-primary" /></p>
		</fieldset>
	</form>	

	<p>Note: Events will be checked by one of our <a href="#" target="_blank">local ambassadors</a> before appearing on the map.</p>

</div>

{% endblock content %}