{% extends 'base.html' %}

{% block title %}- Map of Events{% endblock title %}

{% block custom_body %} onload="initialize()"{% endblock %}

{% block content %}
	<h1>#codeEU Map of Events</h1>
	<a href="/add">Add event</a>
	<p><a href="{% url 'web.guide' %}">How to organize your own event?</a></p>
	<div id="events-map-wrapper">
		<div id="events-map"></div>
	</div>
	<form id="search">
		<input type="text" placeholder="Search for events"/>
		<button type="submit">Search</button>
	</form>
	<h2>Latest #codeEU events</h2>
	<ul>
	{% for event in events %}
		<li><a href="{% url 'web.view_event' event.id event.slug %}">{{ event.title }}</a></li>
	{% endfor %}
	</ul>
{% endblock content %}

{% block custom_js %}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3XIqeAZB_JDD7qSLBeqMRp0rvD2tcCrU&sensor=false">
    </script>
    <script type="text/javascript">

		function initialize() {
		var myLatlng = new google.maps.LatLng(46.0608144,14.497165600000017);
		var mapOptions = {
			  		zoom: 5,
					  center: myLatlng
					}
		var map = new google.maps.Map(document.getElementById('events-map'),
		      mapOptions);
		var infowindow = new google.maps.InfoWindow({
            content: "<a href=\"/add\">Here be CodeCatz</a>"
   	        });
		var marker = new google.maps.Marker({
		    position: myLatlng,
		    animation: google.maps.Animation.DROP,
		    title: "Here be CodeCatz",
		    zoomControl: true, 
		    zoomControlOptions: {
		    	style: google.maps.ZoomControlStyle.LARGE
		    }
		}); 
		marker.setMap(map);
	    google.maps.event.addListener(marker, 'click', function() {
		      infowindow.open(map,marker);
		    });
		}
    </script>
{% endblock %}