{% extends 'base.html' %}
{% load static %}
{% block title %}- Map of Events{% endblock title %}

{% block main_navigation %}{% endblock %}
{% block content %}
	<div class="landing-wrapper">
		<div class="events-map-wrapper">
			<div id="events-map"></div>
		</div>
		<div class="index-heading"><h1>#codeEU Map of Events</h1></div>
		<form class="form-inline search-event-form" role="form">
			<div class="form-group">
				<label class="sr-only" for="search-event">Search Event</label>
				<input type="text" class="form-control col-md-6" id="search-event"
				       placeholder="Search for events" autocomplete="off">
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
		<div class="add-event-wrapper">
			<a href="{% url 'web.add_event' %}" class="add-event-btn btn btn-primary btn-lg">
				<i class="fa fa-map-marker"></i> &nbsp; Add Your Own Event</a>
		</div>
	</div>
	{% include 'layout/top_navigation.html' %}
	<div class="container index-content">
		<h3>Clicked marker: <span id="clicked-marker"></span></h3>

		<p><a href="{% url 'web.guide' %}">How to organize your own event?</a></p>

		<h2>Latest #codeEU events{% if country %} in {{ country.country_name }}{% endif %}</h2>
		{% if latest_events %}
			<ul>
				{% for event in latest_events %}
					<li><a href="{% url 'web.view_event' event.id event.slug %}">{{ event.title }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No events yet. <a href="{% url 'web.guide' %}">Why don't you organize your own?</a>
			<p>
		{% endif %}
	</div>
{% endblock content %}

{% block custom_js %}
	<script src="{% static "js/markerclusterer.js" %}"></script>
	<script type="text/javascript"
	        src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA3XIqeAZB_JDD7qSLBeqMRp0rvD2tcCrU&sensor=false">
	</script>
	<script type="text/javascript" src="{% static 'js/cw-maps.js' %}"></script>
	<script type="text/javascript">

		function createMap(lat, lng, zoomVal) {
			var markerData = JSON.parse('{{map_events|safe}}'),
					markerData_len = markerData.length,
					markerClusterOptions = {gridSize: 30, maxZoom: 10},
					map = new google.maps.Map(document.getElementById('events-map'), {
						scrollwheel: false,
						zoom: zoomVal,
						center: new google.maps.LatLng(lat, lng),
						mapTypeControl: false,
						panControl: false,
						zoomControl: true,
						zoomControlOptions: {
							style: google.maps.ZoomControlStyle.SMALL,
							position: google.maps.ControlPosition.RIGHT_BOTTOM
						},
						scaleControl: true,
						streetViewControl: false,
						streetViewControlOptions: {
							position: google.maps.ControlPosition.RIGHT_BOTTOM
						}
					});

			for (var i = 0; i <= markerData_len; i++) {
				var markdata = markerData[i];
				if (markdata && typeof markdata === 'object') {

					var markTitle = markerData[i].fields.title,
							map_position = markerData[i].fields.geoposition.split(","),
							markLat = map_position[0],
							markLng = map_position[1],
							map_event_id = markerData[i].pk,
							map_event_slug = markerData[i].fields.slug,
							markUrl = "/view/" + map_event_id + "/" + map_event_slug;

					markers[map_event_id] = createMarker(markTitle, markLat, markLng, markUrl);
				}
			}

			return new MarkerClusterer(map, markers, markerClusterOptions);
		}

		function createMarker(markTitle, markLat, markLng, markUrl) {
			var myLatLng = new google.maps.LatLng(parseFloat(markLat), parseFloat(markLng));
			var marker = new google.maps.Marker({
				position: myLatLng,
				map: map,
				title: markTitle
			});
			google.maps.event.addListener(marker, 'click', function () {
				document.getElementById("clicked-marker").innerHTML = "<a href=\"" + markUrl + "\">" + markTitle + "</a>";
			});
			/*google.maps.event.addListener(marker, 'click', function() {
			 window.location.href = markUrl;
			 });*/
			return marker;
		}

		function setAutocomplete() {
			var input = /** @type {HTMLInputElement} */(
					document.getElementById('search-event'));
			var autocomplete = new google.maps.places.Autocomplete(input);
			autocomplete.bindTo('bounds', map);
			var infowindow = new google.maps.InfoWindow();
			google.maps.event.addListener(autocomplete, 'place_changed', function () {
				infowindow.close();
				var place = autocomplete.getPlace();
				if (!place.geometry) {
					return;
				}
				// If the place has a geometry, then present it on a map.
				if (place.geometry.viewport) {
					map.map.fitBounds(place.geometry.viewport);
				} else {
					map.map.setCenter(place.geometry.location);
					map.map.setZoom(17);  // Why 17? Because it looks good.
				}

				var address = '';
				if (place.address_components) {
					address = [
						(place.address_components[0] && place.address_components[0].short_name || ''),
						(place.address_components[1] && place.address_components[1].short_name || ''),
						(place.address_components[2] && place.address_components[2].short_name || '')
					].join(' ');
				}

				infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
				infowindow.open(map.map);
			});
		}

		var map;
		var markers = {};
		//var markerClusterOptions;

		function initialize() {
			map = createMap({{ lan_lon.0 }}, {{ lan_lon.1 }}, 4);
			setAutocomplete();

		}


		google.maps.event.addDomListener(window, 'load', initialize);

	</script>
{% endblock %}
