{% extends 'base.html' %}

{% block title %}- List of events{% endblock title %}


{% block content %}

{% for event in event_list%}

<div class="pure-g-r">
	<div class="pure-u-1-1">
	<h1>{% if event.event_url %}<a href="{{ event.event_url }}">{{ event.title }}{% else %}{{ event.title }}{% endif %}</a></h1>
	<p>Organized by: {{ event.organizer }}</p>
	<p>Location: {{ event.location }}, {{ event.country.name }}</p>
	<p>Starts at: {{ event.start_date }} Ends at: {{ event.end_date }}</p>
	<p>{{ event.description }}</p>
	<p>Tags: {% for tag in event.tags.all %}{% if forloop.last %}{{ tag.name }}{% else %}{{ tag.name }}, {% endif %}{% endfor %}
    </p>
	{% if event.contact_person %}
	<p>Contact email: {{ event.contact_person }}</p>
	{% endif %}
	{% if event.picture %}
	<p><img src="{{ event.picture.url }}" /></p>
	{% endif %}
	</div>
</div>


{% endfor %}
{% endblock content %}