{% extends "base.html" %}

{% block content %}

<h1>Preview your submission</h1>

<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
<table>
   {{form.as_table }}
</table>
<input type="hidden" name="{{ stage_field }}" value="2" />
<input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
<p><input type="submit" value="Submit event" />
</p>

</form>

<button onclick="goBack()"> Edit Again</button>


{% endblock content%}

{%  block custom_js%}

<script>

function goBack()
  {
  window.history.back()
  }
 </script>

 {%  endblock custom_js%}