{% extends 'base.html' %}

{% block title %}- Thank You{% endblock title %}

{% block content %}
<div class="pure-g-r">
	<div class="pure-u-1-1">
		<h1>Thanks for adding your event!</h1>
		<p>One of our local ambassadors will now review // EVENT NAME and make sure we've got all the important details. If you have any questions, get in touch with //local ambassador or main email if none</p>
		<p>You can already share the news about your event via Twitter and Facebook // ADD SHARE</p>
	</div>
</div>
{% endblock content %}