{% extends 'base.html' %}

{% block title %}- Event Details{% endblock title %}

{% block content %}
	<h1>{% if event.event_url %}<a href="{{ event.event_url }}">{{ event.title }}{% else %}{{ event.title }}{% endif %}</a></h1>
	<p>Organized by: {{ event.organizer }}</p>
	<p>{{ event.description }}</p>
	<p>From {{ event.start_date|date:"l, M n, Y" }} at {{ event.start_date|date:"H:i" }} to {{ event.end_date|date:"l, M n, Y" }} at {{ event.end_date|date:"H:i" }}</p>
	<p>Location: {{ event.location }}</p>
	<div id="view-event-map-wrapper">
		<div id="view-event-map"></div>
	</div>
	<p>Tags: {% for tag in event.tags.all %}{% if forloop.last %}{{ tag.name }}{% else %}{{ tag.name }}, {% endif %}{% endfor %}
    </p>
	{% if event.contact_person %}
	<p>Contact email: {{ event.contact_person }}</p>
	{% endif %}
	{% if event.picture %}
	<p><img src="{{ event.picture.url }}" /></p>
	{% endif %}
{% endblock content %}

{% block custom_js %}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3XIqeAZB_JDD7qSLBeqMRp0rvD2tcCrU&sensor=false">
    </script>
    <script type="text/javascript">

		function initialize() {
		var myLatlng = new google.maps.LatLng({{ event.geoposition.latitude }},{{ event.geoposition.longitude }});
		var mapOptions = {
			  		zoom: 15,
					  center: myLatlng
					}
		var map = new google.maps.Map(document.getElementById('view-event-map'),
		      mapOptions);
		var infowindow = new google.maps.InfoWindow({
            content: "<p><strong>{{ event.title }}</strong></p>{{ event.location }}"
   	        });
		var marker = new google.maps.Marker({
		    position: myLatlng,
		    animation: google.maps.Animation.DROP,
		    title: "{{ event.location }}",
		    zoomControl: true, 
		    zoomControlOptions: {
		    	style: google.maps.ZoomControlStyle.SMALL
		    }
		}); 
		marker.setMap(map);
	    google.maps.event.addListener(marker, 'click', function() {
		      infowindow.open(map,marker);
		    });
		}
		google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}