{% load endless %}

{% paginate 6 latest_events %}

{% for event in latest_events %}
					<div class=" col-md-4 {% if forloop.first %}first{% endif %}">
						<div class="thumbnail">
							<div class="title"><a href="{% url 'web.view_event' event.id event.slug %}">{{ event.title }}</a></div>
							<a href="{% url 'web.view_event' event.id event.slug %}" class="img-link">
								<img src="//maps.googleapis.com/maps/api/staticmap?markers={{ event.geoposition }}&zoom=9&size=390x80&sensor=false">
							</a>

							<div class="caption">
								<p>{{ event.description|truncatewords:20 }}</p>


								<a href="{% url 'web.view_event' event.id event.slug %}"
								   class="btn btn-primary btn-directional fa-arrow-right btn-sm"
								   role="button">View</a>

								<span class="countdown pull-right">
									Happening in:
									{{ event.start_date|timeuntil }}
								</span>

							</div>
						</div>
                      </div>
	{% endfor %}

<div class="endless_events">
    {% show_more "More Events" %}
</div>
