<a href="{% url 'web.view_event' event.id event.slug %}" class="thumbnail clearfix">
	{% if event.picture %}
		<img src="{{ event.picture.url }}" alt="{{ event.title }} Image" class="col-md-2 first">
	{% endif %}
	<h4>{{ event.title }}</h4>

	<div class="caption">
		<p>{{ event.description|truncatewords:20 }}</p>

		<span class="countdown pull-right">
	{% if event.hasStarted %}
		{% if event.hasEnded %}
			Event ended
		{% else %}
			Ending in:
			{{ event.end_date|timeuntil }}
		{% endif %}
	{% else %}
			Happening in:
			{{ event.start_date|timeuntil }}
	{% endif %}
		</span>

	</div>
</a>
