{% load static %}
<div class=" col-md-4 {% if forloop.first %}first{% endif %}">
	<div class="thumbnail">
		<div class="title"><a href="{% url 'web.view_event' event.id event.slug %}">{{ event.title }}</a> ({{event.status|title}})</div>
		<div class="img-link">
			<a href="{% url 'web.view_event' event.id event.slug %}"> 
				{% if event.picture %}
					<img src="{{ event.picture.url }}" alt="{{ event.title }} image">
				{% else %}
					<img src="{% static 'img/event_default_picture.png' %}" alt="Code Week event">
				{% endif %}
			</a>
		</div>

		<div class="caption">
			<p>{{ event.description|truncatewords:20 }}</p>


			<a href="{% url 'web.view_event' event.id event.slug %}"
			   class="btn btn-primary btn-directional fa-arrow-right btn-sm"
			   role="button">View</a>

			<span class="countdown pull-right">
				{% include 'layout/time_to_event.html' %}
			</span>

		</div>
	</div>
</div>