{% load static %}
<footer>
	<div class="container">
		<div class="col-md-3 first">
			<nav>
				<ul class="footer-navigation">
					<li><a href="{% url 'web.index' %}">Events</a></li>
					<li class="toggle-topbar menu-icon"><a href="http://codeweek.eu/resources">Resources</a></li>
					<li class="toggle-topbar menu-icon"><a href="http://codeweek.eu/code">Why coding?</a></li>
					<li class="toggle-topbar menu-icon"><a href="http://codeweek.eu/about/">About</a></li>
					<li class="toggle-topbar menu-icon"><a href="http://blog.codeweek.eu/">News</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<div class="clearfix icon-title">
				Fork us on:
			</div>
			<a href="https://github.com/codeeu/coding-events">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
				</span>
			</a>

			<div>
				<div class="clearfix icon-title">
					Follow #codeEU on:
				</div>

				<div class="clearfix">
					<a href="https://twitter.com/CodeWeekEU" class="pull-left">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
					</a>
					<a href="https://www.facebook.com/codeEU" class="pull-left">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
					</a>
					<a href="https://plus.google.com/100389357124183878121" class="pull-left">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
					</span>
					</a>
				</div>

			</div>

		</div>
		<div class="created-by col-md-1">
			<div class="cleafix icon-title">
				Coded by:
			</div>
			<a href="{% url 'web.about' %}">
				<img src="{% static 'img/codecatz_silver.png' %}" alt="CodeCatz" class="codecatz-logo" />
			</a>
			</div>


		<div class="copyright col-md-4 col-md-offset-1">


			<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
				<img src="{% static 'img/cc-icons.png' %}"
				     alt="CC Icon" class="cc-icons">
			</a>

			<p class="cc-text">

				Except where otherwise noted, content on this site is licensed under a
				<a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
					Creative Commons Attribution 4.0 International license.</a>
			</p>
		</div>

	</div>
</footer>
