{% load static %}

<div class="col-md-3 col-sm-6 col-xs-12 ne-box"> 
	<a href="{% url 'web.view_event' event.id event.slug %}">
		<div class="box-inner">
			{% if event.picture %}
			<img src="{{ event.picture.url }}" alt="{{ event.title }} Image">
			{% else %}
			<img src="{% static 'img/event_default_picture.png' %}" alt="{{ event.title }} Image">
			{% endif %}
		</div>
		<div class="ne-description">
			<h4>{{ event.title }}</h4>
			<span>{{ event.start_date|date:"F j, Y" }}</span>
			<p>{{ event.description|truncatewords:10 }}</p>
		</div>
	</a>
</div>

