{% load static %}
<div class="col-sm-3 col-xs-6">
	<a href="{% url 'web.view_event' event.id event.slug %}" class="thumbnail clearfix">
		<h4>{{ event.title }}</h4>
		<div class="caption">
			<span class="countdown pull-left caption">
				{{ event.start_date|date:"F j, Y" }}
			</span>
		</div>
		{% if event.picture %}
			<img src="{{ event.picture.url }}" alt="{{ event.title }} Image">
		{% else %}
			<img src="{% static 'img/event_default_picture.png' %}" alt="{{ event.title }} Image">
		{% endif %}
	</a>
</div>
