{% load static %}
{% load event_tags %}
{% load avatar_tags %}

<!-- Header -->
<header id="header" class="page-section full-header">
	<div id="header-wrap">
		<div class="container clearfix">
			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			<!-- Logo -->
			<div id="logo">
				<a href="{{ settings.THEME_ASSETS_BASE_URL }}" class="standard-logo" data-dark-logo="/img/codeweekeu.png"><img src="{{ settings.THEME_ASSETS_BASE_URL }}img/codeweekeu.png" alt="CodeWeekES"></a>
				<a href="{{ settings.THEME_ASSETS_BASE_URL }}" class="retina-logo" data-dark-logo="/img/codeweekeu.png"><img src="{{ settings.THEME_ASSETS_BASE_URL }}img/codeweekeu.png" alt="CodeWeekES"></a>
			</div>

			<nav id="primary-menu">

				<!-- Primary Navigation -->
				<!-- ============================================= -->
				<ul>
					<li><a href="{{ settings.THEME_ASSETS_BASE_URL }}">Home</a></li>
					<li class="{% current 'web.index' %}"><a href="http://events.codeweek.eu/">Events</a></li>
					<li class="{% current 'web.ambassadors' %}"><a href="http://events.codeweek.eu/ambassadors">Ambassadors</a></li>
					<li ><a href="{{ settings.THEME_ASSETS_BASE_URL }}resources/">Resources</a></li>
					<li ><a href="{{ settings.THEME_ASSETS_BASE_URL }}about/">About</a></li>
					<li><a href="http://blog.codeweek.eu/">News</a></li>
				</ul>

				<!-- Top Search -->
				<!-- ============================================= -->
				<div id="top-search">
					<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
					<form action="/search.html" method="get">
						<input type="text" name="q" class="form-control" value="" placeholder="Type & hit Enter...">
					</form>
				</div><!-- #top-search end -->

			</nav>
			<!-- #primary-menu end -->
		</div>
	</div>
</header>

<div id="page-menu">

	<div id="page-menu-wrap">

		<div class="container clearfix">
            <div class="menu-title">CodeWeek <span>EU</span></div>
            
            <nav class="one-page-menu eventsm">
		<ul class="nav navbar navbar-left" role="menu">
			<li>
				<a href="{% url 'web.index' %}" class="{% current 'web.index' %} first" id="zoomEU">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
					</span>
					Map
				</a>
			</li>
			<li>
				<a href="{% url 'web.add_event' %}" class="{% current 'web.add_event' %}">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
					</span>
					Add Event
				</a>
			</li>
			<li>
				<a href="{% url 'web.search_events' %}" class="{% current 'web.search_events' %}">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-search fa-stack-1x fa-inverse"></i>
				</span>
					Search Events
				</a>
			</li>
        </ul>
        <ul class="nav navbar navbar-right nobottommargin">
			<li class="dropdown pull-right">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}" class="dropdown-toggle avatar" data-toggle="dropdown">
						Hi, {{ user.username }}
						{% avatar user 30 %}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu profile-menu" role="menu">
						{% if user.profile.is_ambassador %}
							<li>
								{% if user.profile.country %}
									<a href="{% url 'web.pending_events' user.profile.country %}">
										<i class="fa fa-clock-o"></i>
										{% if user.is_staff %}
											Pending events
										{% else %}
											Pending events in {{ user.profile.country.name }}
										{% endif %}</a>
								{% else %}
									<a href="{% url 'profile' %}"><i class="fa fa-map-marker"></i>
										Set your country</a>
								{% endif %}
							</li>
							<li><a href="{% url 'profile' %}"><i class="fa fa-pencil-square-o"></i>
								Edit your profile</a></li>
							<li class="divider"></li>
						{% endif %}
						<li><a href="{% url 'web.created_events' %}"><i
								class="fa fa-user"></i> Your events</a></li>
						<li><a href="{% url 'logout' %}?next={% firstof request.path '/' %}"><i
								class="fa fa-sign-out"></i> Sign out</a></li>
					</ul>
				{% else %}
					<a href="{% url 'web.login' %}" class="signin">
						<i class="fa fa-sign-in"></i>
						Sign in</a>
				{% endif %}
			</li>
		</ul>
            </nav>

			<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

		</div>

	</div>

</div>




