{% load static %}
{% load event_tags %}
{% load avatar_tags %}

<nav class="navbar cweu-navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
			        data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="/"><img src="{% static 'img/new_logo_white.png' %}" alt="Codeweek EU Logo" /></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right cweu-navbar-list">
				<li class="dropdown open">
					<a href="{% url 'web.index' %}" class="active">Events</a>
					<ul class="nav dropdown-menu visible-xs visible-sm" role="menu">
						<li>
							<a href="{% url 'web.index' %}" class="{% current 'web.index' %}">
								Map
							</a>
						</li>
						<li>
							<a href="{% url 'web.add_event' %}" class="{% current 'web.add_event' %}">
								Add Event
							</a>
						</li>
						<li>
							<a href="{% if search_button %}#{% else %}{% url 'web.search_events' %}{% endif %}"
							   class="search-btn {% if search_active %}active{% endif %}">
								Search
							</a>
						</li>
					</ul>
				</li>
				<li class="toggle-topbar menu-icon"><a href="http://codeweek.eu/learn">Resources</a></li>
				<li class="toggle-topbar menu-icon"><a href="http://codeweek.eu/code">Why coding?</a></li>
				<li class="toggle-topbar menu-icon"><a href="http://codeweek.eu/about/">About</a></li>
				<li class="toggle-topbar menu-icon"><a href="http://blog.codeweek.eu/">News</a></li>
			</ul>
		</div>
	</div>
</nav>
<nav class="navbar cweu-submenu visible-md visible-lg">
	<div class="container">


		<ul class="nav navbar-nav" role="menu">
			<li>
				<a href="{% url 'web.index' %}" class="{% current 'web.index' %} first">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
					</span>
					Map
				</a>
			</li>
			<li>
				<a href="{% url 'web.add_event' %}" class="{% current 'web.add_event' %}">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
					</span>
					Add Event
				</a>
			</li>
			<li {% if search_input %}class="col-md-6"{% endif %}>
				{% if search_input %}
					<div class="search-wrapper">
						<input type="email" class="form-control " id="search-input" placeholder="Where do you want to go?">
					</div>
				{% else %}
					<a href="{% url 'web.search_events' %}" class="{% current 'web.search_events' %}">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-search fa-stack-1x fa-inverse"></i>
					</span>
						Search Events
					</a>
				{% endif %}
			</li>
			<li class="dropdown pull-right">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}" class="dropdown-toggle avatar" data-toggle="dropdown">
						Hi, {{ user.username }}
						{% avatar user 30 %}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu">
						{% if user.profile.is_ambassador %}
							<li>
								{% if user.profile.country %}
									<a href="{% url 'web.pending_events' user.profile.country %}">
										<i class="fa fa-clock-o"></i>
										{% if user.is_staff %}
											Pending events
										{% else %}
											Pending events in {{ user.profile.country.name }}
										{% endif %}</a>
								{% else %}
									<a href="{% url 'profile' %}"><i class="fa fa-map-marker"></i>
										Set your country</a>
								{% endif %}
							</li>
							<li><a href="{% url 'profile' %}"><i class="fa fa-pencil-square-o"></i>
								Edit your profile</a></li>
							<li class="divider"></li>
						{% endif %}
						<li><a href="{% url 'web.created_events' %}"><i
								class="fa fa-user"></i> Your events</a></li>
						<li><a href="{% url 'logout' %}?next={% firstof request.path '/' %}"><i
								class="fa fa-sign-out"></i> Sign out</a></li>
					</ul>
				{% else %}
					<a href="{% url 'web.login' %}" class="signin">
						<i class="fa fa-sign-in"></i>
						Sign in</a>
				{% endif %}
			</li>
		</ul>

	</div>
</nav>


