/*********************
MAIN STYLES
*********************/

body {

}

/*********************
NAVIGATION STYLES
*********************/

.navbar {

    margin-bottom: 0;
    border-radius: 0;

}

.navbar-glass {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-nav {
    a {

        &.avatar {
            padding: 7px;
        }
    }
}

/*********************
LANDING PAGE MAP STYLES
*********************/
.landing-wrapper {
    height: 450px;
    position: relative;
    top: 0;
    left: 0;
}

.events-map-wrapper {
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#view-event-map-wrapper {
    width: 100%;
    height: 300px;
}

.search-event-form {
    position: absolute;
    top: 20px;
    left: 20px;

    input {
        width: 400px;
    }
}

.add-event-wrapper {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

/*********************
INDEX PAGE STYLES
*********************/

.index-heading {
    font-size: 18px;
    position: absolute;
    right: 20px;
}

.index-content {
    padding: 100px 0;
}

/*********************
FOOTER STYLES
*********************/

footer {
    width: 100%;
    background-color: $slate;
    color: $silver;

    .maker-introduction {
        margin: 20px 0;

    }
    .fork-github {
        margin: 20px 0;
        text-align: center;
        a {
            display: block;
        }
        i {
            font-size: 50px;
            color: $silver;
        }

    }
    img {
        &.cc-icons {
            margin: 20px 0;
        }
        &.codecatz-logo {
            width: 100px;
            display: block;
        }
    }
}

/*********************
AVATAR STYLES
*********************/
.avatar {

    img {
		padding: 2px;
	    background-color: $white;
	    margin-top: 3px;
    }
}