{% extends 'base.html' %}
{% load static %}
{% block title %}- Website Credits{% endblock title %}

{% block content %}
	<div class="container">
	<h1>Made with love by <a href="http://twitter.com/CodeCatz">@CodeCatz</a></h1>

	<div class="clearfix">
		<div class="col-md-3 first">
			<img src="{% static 'img/codecatz-logo.jpg' %}" alt="CodeCatz" class="codecatz-logo"
			     style="width: 100%" />
		</div>
		<div class="col-md-9">
			<p>We are a group of programming kittens and several slightly more experienced cats. Mostly girls,
			   learning to
			   code together every Wednesday at <a href="http://www.zemanta.com">Zemanta</a> and other startups
			   around
			   Ljubljana, Slovenia.</p>
		</div>

	</div>
	<h2>Main contributing Catz:</h2>

	<div class="content">

		<div class="row">
			<div class="team-member thumbnail clearfix">
				<div class="header">Erika Pogorelc</div>
				<img src="/static/img/team/ercchy.jpg" alt="Erika Pogorelc" class="img-thumbnail">

				<div class="description">
					<p>
						Erika is a Python programer working with great passion for open education, so she joined
						<a href="http://p2pu.org">Peer 2 Peer University</a> in order to change the world into a
						better place.
					</p>

					<ul class="social-icons clearfix">
						<li>
							<a href="https://twitter.com/ercchy" target="_blank">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-twitter fa-stack-1x"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/erika.pogorelc" target="_blank">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-facebook fa-stack-1x"></i>
								</span>
							</a>
						</li>
					</ul>
					<h5>Role: <strong>Lead Cat</strong></h5>
				</div>
			</div>

			<div class="team-member thumbnail clearfix">
				<div class="header">Mateja Verlič</div>
				<img src="/static/img/team/sparkica.jpg" alt="Mateja Verlič" class="img-thumbnail">

				<div class="description">
					<p>
						Donec suscipit felis a pretium euismod. Nunc sodales, ligula id gravida vehicula, lacus erat aliquet
						diam, at auctor ante est at nibh. Sed gravida aliquam arcu, posuere euismod tortor faucibus ac.
					</p>

					<ul class="social-icons clearfix">
						<li>
							<a href="https://twitter.com/sparkica" target="_blank">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-twitter fa-stack-1x"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/sparkica" target="_blank">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-facebook fa-stack-1x"></i>
								</span>
							</a>
						</li>
					</ul>
					<h5>Role: <strong>Motivational Cat</strong></h5>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="team-member thumbnail clearfix">
				<div class="header">Goran Blažič</div>
				<img src="/static/img/team/goran.jpg" alt="Goran Blažič" class="img-thumbnail">

				<div class="description">
					<p>
						Donec suscipit felis a pretium euismod. Nunc sodales, ligula id gravida vehicula, lacus erat aliquet
						diam, at auctor ante est at nibh. Sed gravida aliquam arcu, posuere euismod tortor faucibus ac.
					</p>

					<ul class="social-icons clearfix">
						<li>
							<a href="https://twitter.com/goranche" target="_blank">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-twitter fa-stack-1x"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/goranche" target="_blank">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-facebook fa-stack-1x"></i>
								</span>
							</a>
						</li>
					</ul>
					<h5>Role: <strong>Deploy Cat</strong></h5>
				</div>
			</div>

			<div class="team-member thumbnail clearfix">
				<div class="header">Alja Isaković</div>
				<img src="/static/img/team/alja.jpg" alt="Alja Isaković" class="img-thumbnail">

				<div class="description">
					<p>
						Donec suscipit felis a pretium euismod. Nunc sodales, ligula id gravida vehicula, lacus erat aliquet
						diam, at auctor ante est at nibh. Sed gravida aliquam arcu, posuere euismod tortor faucibus ac.
					</p>

					<ul class="social-icons clearfix">
						<li>
							<a href="https://twitter.com/iAlja" target="_blank">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-twitter fa-stack-1x"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/ialja" target="_blank">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-facebook fa-stack-1x"></i>
								</span>
							</a>
						</li>
					</ul>
					<h5>Role: <strong>Cube Cat</strong></h5>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="team-member thumbnail clearfix">
				<div class="header">Svetlana Sapelova</div>
				<img src="/static/img/team/svetka.jpg" alt="Svetlana Sapelova" class="img-thumbnail">

				<div class="description">
					<p>
						Donec suscipit felis a pretium euismod. Nunc sodales, ligula id gravida vehicula, lacus erat aliquet
						diam, at auctor ante est at nibh. Sed gravida aliquam arcu, posuere euismod tortor faucibus ac.
					</p>

					<ul class="social-icons clearfix">
						<li>
							<a href="https://twitter.com/SvetkaSapelova" target="_blank">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-twitter fa-stack-1x"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/svetka.sapelova" target="_blank">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-facebook fa-stack-1x"></i>
								</span>
							</a>
						</li>
					</ul>
					<h5>Role: <strong>Grumpy Cat</strong></h5>
				</div>
			</div>

			<div class="team-member thumbnail clearfix">
				<div class="header">Nina Malovrh</div>
				<img src="/static/img/team/nina.jpg" alt="Nina Malovrh" class="img-thumbnail">

				<div class="description">
					<p>
						Donec suscipit felis a pretium euismod. Nunc sodales, ligula id gravida vehicula, lacus erat aliquet
						diam, at auctor ante est at nibh. Sed gravida aliquam arcu, posuere euismod tortor faucibus ac.
					</p>

					<ul class="social-icons clearfix">
						<li>
							<a href="https://twitter.com/MucaLisa" target="_blank">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-twitter fa-stack-1x"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/nina.malovrh.1" target="_blank">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-facebook fa-stack-1x"></i>
								</span>
							</a>
						</li>
					</ul>
					<h5>Role: <strong>Design Cat</strong></h5>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="team-member thumbnail clearfix">
				<div class="header">Hana Jošić</div>
				<img src="/static/img/team/hana.jpg" alt="Hana Jošić" class="img-thumbnail">

				<div class="description">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra lectus luctus ante commodo
						ornare. Praesent iaculis, orci vitae aliquam aliquet, arcu est condimentum magna, id fringilla orci
						justo a augue.
					</p>

					<ul class="social-icons clearfix">
						<li>
							<a href="https://twitter.com/naisnouk" target="_blank">
										<span class="fa-stack fa-lg">
										  <i class="fa fa-square-o fa-stack-2x"></i>
										  <i class="fa fa-twitter fa-stack-1x"></i>
										</span>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/profile.php?id=1186838569" target="_blank">
										<span class="fa-stack fa-lg">
										  <i class="fa fa-square-o fa-stack-2x"></i>
										  <i class="fa fa-facebook fa-stack-1x"></i>
										</span>
							</a>
						</li>
					</ul>
					<h5>Role: <strong>Test Cat</strong></h5>
				</div>
			</div>
		</div>

	</div>

	<p>And hey, you can become a contributor too! Fork the project on <a
			href="https://github.com/codeeu/coding-events">GitHub</a> and send us a Pull request with improvements.
	</p>
	<hr>
	<h3>Supporters:</h3>
	<ul class="supporters clearfix">
		<li>
			<a href="http://cubesensors.com/">
				<img src="{% static 'img/supporters/cubesensors.png' %}" alt="Cubesensors Logo" />
			</a>
		</li>
		<li><a href=""><img src="{% static 'img/supporters/zemanta.png' %}" alt="" /></a></li>
		<li><a href=""><img src="{% static 'img/supporters/p2pu.png' %}" alt="" /></a></li>
		<li><a href=""><img src="{% static 'img/supporters/pycharm.png' %}" alt="" /></a></li>
	</ul>
	</div>
{% endblock content %}