{% extends 'base.html' %}
{% load static %}
{% block title %}- Website Credits{% endblock title %}

{% block content %}
	<div class="container">
		<h1>Made with love by <a href="http://twitter.com/CodeCatz">@CodeCatz</a></h1>
		<p>We are a group of programming kittens and several slightly more experienced cats. Mostly girls, learning to code together every Wednesday at <a href="http://www.zemanta.com">Zemanta</a> and other startups around Ljubljana, Slovenia.</p>
		<p>Main contributing Catz:</p>
		<ul>
			<li><a href="http://twitter.com/ercchy">Erika Pogorelc</a> (Lead Cat)</li>
			<li><a href="http://twitter.com/sparkica">Mateja Verlič</a> (Motivational Cat)</li>
			<li><a href="http://twitter.com/goranche">Goran Blažič</a> (Honorary Cat)</li>
			<li><a href="http://twitter.com/SvetkaSapelova">Svetka Sapelova</a> (Grumpy Cat)</li>
			<li><a href="http://twitter.com/iAlja">Alja Isaković</a> (Cube Cat)</li>
			<li><a href="http://twitter.com/naisnouk">Hana Jošić</a> (Test Cat)</li>
			<li><a href="http://twitter.com/MucaLisa">Nina Malovrh</a> (Design Cat)</li>
		</ul>
		<img src="{% static 'img/codecatz-logo.jpg' %}" alt="CodeCatz" class="codecatz-logo" />
		<p>And hey, you can become a contributor too! Fork the project on <a href="https://github.com/codeeu/coding-events">GitHub</a> and send us a Pull request with improvements.</p>
		<h2>Europe Code Week logo</h2>
		<p>The logo was designed by Leon <a href="http://www.orsa.si">@Orsa</a>. You can find it in a variety of formats in our <a href="https://github.com/codeeu/codeeu-resources">codeeu-resources</a> repository. Feel free to use it to promote your Code Week event.</p>
		<img src="{% static 'img/codeweek-logo.jpg' %}" alt="Europe Code Week logo by @Orsa" id="codeweek-about-logo" /> 
	</div>
{% endblock content %}