{% extends 'base.html' %}
{% load static %}

{% block title %}- Add Event{% endblock title %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/jasny-bootstrap.min.css" %}" />
{% endblock %}


{% block content %}
	<div class="container">
		<div class="clearfix">
			<h1 class="pull-left">{% if editing %}Edit{% else %}Add {% endif %} your #codeEU event</h1>

			<div class="how-to">
				<a href="{% url 'web.guide' %}" target="_blank"
				   class="btn btn-sm pull-right">How to organize your own event?
				</a>
			</div>

		</div>


		<form enctype="multipart/form-data" method="post" id="event" role="form">{% csrf_token %}
			<div class="clearfix">
				{% for field in form %}

					{% if field.name == 'geoposition' %}
						<span style="display:none">{{ field.label_tag }}{{ field }}</span>
					{% elif field.name == 'location' %}
						<div class="form-group {% if field.errors %}has-error{% endif %} col-md-6 first input-with-icon">
							<label class="control-label" for="{{ field.auto_id }}">
								{% if field.field.required %}<i class="fa fa-asterisk"></i>{% endif %}
								{{ field.label }}
							</label>
							{{ field }}
							<i class="fa fa-map-marker"></i>
							<span class="help-block {% if field.errors %}{% endif %}">{{ field.errors }}</span>
						</div>
						<div id="view-event-map-wrapper" class="col-md-6 pull-right">
							<div id="view-event-map">Loading map ...</div>
						</div>
					{% elif field.name == 'country' %}
						<span class="hidden">{{ field }}</span>
					{% elif field.name == 'start_date' %}
						<div class="form-group {% if field.errors %}has-error{% endif %} col-md-6 first input-with-icon">
							<label class="control-label" for="{{ field.auto_id }}">
								{% if field.field.required %}
									<i class="fa fa-asterisk" data-toggle="tooltip" data-placement="left"
									   title="This data is required"></i>
								{% endif %}
								{{ field.label }}
							</label>
							{{ field }}
							<i class="fa fa-calendar"></i>
							<span class="help-block {% if field.errors %}{% endif %}">{{ field.errors }}</span>
						</div>
					{% elif field.name == 'end_date' %}
						<div class="clearfix">
							<div class="form-group {% if field.errors %}has-error{% endif %} col-md-6 first input-with-icon">
								<label class="control-label" for="{{ field.auto_id }}">
									{% if field.field.required %}
										<i class="fa fa-asterisk" data-toggle="tooltip" data-placement="left"
										   title="This data is required"></i>
									{% endif %}
									{{ field.label }}</label>
								{{ field }}
								<i class="fa fa-calendar"></i>
								<span class="help-block {% if field.errors %}{% endif %}">{{ field.errors }}</span>
							</div>
						</div>

					{% elif field.name == 'event_url' %}
						<div class="form-group {% if field.errors %}has-error{% endif %} col-md-6 first input-with-icon">
							<label class="control-label" for="{{ field.auto_id }}">
								{% if field.field.required %}
									<i class="fa fa-asterisk" data-toggle="tooltip" data-placement="left"
									   title="This data is required"></i>
								{% endif %}
								{{ field.label }}</label>
							{{ field }}
							<i class="fa fa-globe"></i>
							<span class="help-block {% if field.errors %}{% endif %}">{{ field.errors }}</span>
						</div>

					{% elif field.name == 'contact_person' %}
						<div class="form-group {% if field.errors %}has-error{% endif %} col-md-6 first input-with-icon">
							<label class="control-label" for="{{ field.auto_id }}">
								{% if field.field.required %}
									<i class="fa fa-asterisk" data-toggle="tooltip" data-placement="left"
									   title="This data is required"></i>
								{% endif %}
								{{ field.label }}</label>
							{{ field }}
							<i class="fa fa-envelope"></i>
							<span class="help-block {% if field.errors %}{% endif %}">{{ field.errors }}</span>
						</div>
					{% elif field.name == 'audience' %}
						<div class="form-group {% if field.errors %}has-error{% endif %} col-md-6">
							<label class="control-label" for="{{ field.auto_id }}">
								{% if field.field.required %}
									<i class="fa fa-asterisk" data-toggle="tooltip" data-placement="left"
									   title="This data is required"></i>
								{% endif %}
								{{ field.label }}</label>
							{{ field }}
							<span class="help-block {% if field.errors %}{% endif %}">{{ field.errors }}</span>
						</div>
					{% elif field.name == 'theme' %}
						<div class="form-group {% if field.errors %}has-error{% endif %} col-md-6">
							<label class="control-label" for="{{ field.auto_id }}">
								{% if field.field.required %}
									<i class="fa fa-asterisk" data-toggle="tooltip" data-placement="left"
									   title="This data is required"></i>
								{% endif %}
								{{ field.label }}</label>
							{{ field }}
							<span class="help-block {% if field.errors %}{% endif %}">{{ field.errors }}</span>
						</div>
					{% elif field.name == 'tags' %}
						<div class="form-group {% if field.errors %}has-error{% endif %} col-md-6 first input-with-icon">
							<label class="control-label" for="{{ field.auto_id }}">
								{% if field.field.required %}
									<i class="fa fa-asterisk" data-toggle="tooltip" data-placement="left"
									   title="This data is required"></i>
								{% endif %}
								{{ field.label }}</label>
							{{ field }}
							<i class="fa fa-tags"></i>
							<span class="help-block {% if field.errors %}{% endif %}">{{ field.errors }}</span>
						</div>
					{% elif field.name == 'picture' %}
						<div class="pull-right col-md-6">
							<label>{{ field.label }}</label>

							<div class="fileinput {% if picture_url %}fileinput-exists{% else %}fileinput-new{% endif %} "
							     data-provides="fileinput">
								<div class="fileinput-new">
									<img data-src="holder.js/100%x100%/text:Your image..." alt="..."
									     style="max-height: 204px">
								</div>
								<div class="fileinput-preview fileinput-exists">
									<img src="{{ MEDIA_URL }}{{ picture_url }}" alt="{{ field.name }} Image"
									     style="max-height: 204px" />
								</div>
								<div>
								<span class="btn btn-sm btn-file">
									<span class="fileinput-new">Select image</span>
									<span class="fileinput-exists">Change</span>
									<input type="file" name="{{ field.name }}"></span>
									<a href="#" class="btn btn-sm fileinput-exists" data-dismiss="fileinput">Remove</a>
								</div>
							</div>
						</div>
					{% else %}
						<div class="form-group {% if field.errors %}has-error{% endif %}">
							<label class="control-label" for="{{ field.auto_id }}">
								{% if field.field.required %}
									<i class="fa fa-asterisk" data-toggle="tooltip" data-placement="left"
									   title="This data is required"></i>
								{% endif %}
								{{ field.label }}</label>
							{{ field }}
							<span class="help-block {% if field.errors %}{% endif %}">{{ field.errors }}</span>
						</div>
					{% endif %}

				{% endfor %}
			</div>
			<div class="btn btn-primary btn-directional fa-plus-circle btn-lg submit-button-wrapper">
				<input type="submit" value="{% if editing %}Save{% else %}Add{% endif %} event" />
			</div>

		</form>

		<div class="event-footnote">
			Note: Events will be checked by one of our
			<a href="{% url 'web.ambassadors' %}" target="_blank">Local Ambassadors</a>
			before appearing on the map.
		</div>
	</div>
{% endblock content %}

{% block custom_js %}
	<script type="text/javascript" src="{% static "lib/bootstrap-sass/javascripts/bootstrap/tooltip.js" %}"></script>
	{% comment %}
	<script type="text/javascript" src="{% static "js/jquery.datetimepicker.js" %}"></script>{% endcomment %}
	<script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jasny-bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/holder.js" %}"></script>
	<script type="text/javascript" src="{% static "js/events.js" %}"></script>
	<script type="text/javascript">
		Codeweek.Event.add();
	</script>


	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3XIqeAZB_JDD7qSLBeqMRp0rvD2tcCrU&sensor=false&libraries=places"></script>


{% endblock custom_js %}