{% extends 'base.html' %}
{% load endless %}

{% block content %}
	
	<div class="container"> 

	<h1>Upcoming events</h1>

	{% for event in events %}

					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="thumbnail">
							<div class="title"><a href="{% url 'web.view_event' event.id event.slug %}">{{ event.title }}</a></div>
							<a href="{% url 'web.view_event' event.id event.slug %}" class="img-link">
								<img src="//maps.googleapis.com/maps/api/staticmap?markers={{ event.geoposition }}&zoom=9&size=390x80&sensor=false">
							</a>

							<div class="caption">
								<p>{{ event.description|truncatewords:20 }}</p>


								<a href="{% url 'web.view_event' event.id event.slug %}"
								   class="btn btn-primary btn-directional fa-arrow-right btn-sm"
								   role="button">View</a>

								<span class="countdown pull-right">
									{% include 'layout/time_to_event.html' %}
								</span>

							</div>
						</div>
                      </div>
	{% endfor %}

	<hr style="clear:both;"> </hr>

	<h2>Past events</h2>
	
	</div>

{% endblock content %}