{% extends 'base.html' %}
{% load avatar_tags %}

{% block title %}- Ambassadors{% endblock title %}

{% block content %}
	<div class="container">
		<h1>EU Code Week Ambassadors</h1>
		<div class="how-to">
			<a href="http://codeweek.eu/beambassador/" class="btn btn-sm pull-right">
				How to become an ambassador?
			</a>
		</div>
		<div class="aluminum">{% if user_country %}Your current country: <a href="#{{ user_country.country_name }}">{{ user_country.country_name }}</a>{% endif %}</div>
		{% for country,ambassadors in countries %}
			<h2 class="clearfix" id="{{country}}">{{country}}</h2>		
			{% if ambassadors|length != 0 %}
			{% for ambassador in ambassadors %}
			<div class="ambassador clearfix">
				{% avatar ambassador.user.username %} 
				<h4>{{ambassador.user.first_name}} {{ambassador.user.last_name}}&nbsp;<span>{% if ambassador.user.email %}&nbsp;<a href="mailto:{{ambassador.user.email}}" alt="Send me an email"><i class="fa fa-envelope"></i></a>{% endif %} {% if ambassador.website %}&nbsp;<a href="{{ambassador.website}}" target="_blank"><i class="fa fa-link"></i></a>{% endif %} {% if ambassador.twitter %}&nbsp;<a href="http://twitter.com/{{ambassador.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>{% endif %}</span></h4>
				<p>{{ambassador.bio}}</p>
			</div>
			{% endfor %}
			{% else %}
			<p>No ambassador yet. Why don't you <a href="http://codeweek.eu/beambassador/">volunteer</a>?</p>
			{% endif %}
		{% endfor %}
	</div>
{% endblock content %}
