{% extends 'base.html' %}
{% load avatar_tags %}

{% block title %}- Ambassadors{% endblock title %}

{% block content %}

<div class="content-wrap nopadding">
	<div class="section notopborder nomargin">
		<div class="container clearfix ">

			<div class="heading-block center">
				<h1>EU Code Week Ambassadors</h1>
				<span></span>
			</div>

			<div class="container clearfix ">
				{% if user_country %}Your current country: <a href="http://events.codeweek.eu/ambassadors">{{ user_country.country_name }}</a>{% endif %}
			</div>

			<div class="tabs clearfix" id="tab-1" data-active="{{ country_pos }}">
				<div class="tab-container">
					{% for code, country, ambassadors, mains in countries %}
						<div class="tab-content clearfix" id="tabs-{{ code }}">

							<h2 class="clearfix center">{{country}}</h2>

							{% if ambassadors|length != 0 or mains|length != 0 %}
								{% if mains|length != 0 %}
									<div class="fancy-title title-border">
										<h3>Main Contact</h3>
									</div>

									<div class="container">
										{% for main in mains %}
											<div class="col-md-6 bottommargin">
												<div class="team team-list clearfix">
													<div class="team-image">
														{% avatar main.user.username %}
													</div>
													<div class="team-desc">
														<div class="team-title">
															<h4>{{main.user.first_name}} {{main.user.last_name}}</h4>
															<span>Main Contact{% if main.role != '' %} ({{main.role}}){% endif %}</span>
														</div>
														<div class="team-content">
															<p>{{main.bio}}</p>
														</div>
														{% if main.user.email %}
															<a href="mailto:{{ambassador.user.email}}" class="social-icon inline-block si-small si-light si-rounded si-mail">
																<i class="icon-line-mail"></i>
																<i class="icon-line-mail"></i>
															</a>
														{% endif %}
														{% if main.twitter %}
															<a href="http://twitter.com/{{ambassador.twitter}}" class="social-icon inline-block si-small si-light si-rounded si-twitter">
																<i class="icon-twitter"></i>
																<i class="icon-twitter"></i>
															</a>
														{% endif %}
														{% if main.website %}
															<a href="{{ambassador.website}}" class="social-icon inline-block si-small si-light si-rounded si-gplus">
																<i class="icon-world"></i>
																<i class="icon-world"></i>
															</a>
														{% endif %}
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								{% endif %}

								{% if ambassadors|length != 0 %}
									<div class="fancy-title title-border">
										<h3>Ambassadors</h3>
									</div>

									{% for ambassador in ambassadors %}
										<div class="col-md-3 col-sm-6 bottommargin">
											<div class="team">
												<div class="team-image">
													{% avatar ambassador.user.username %}
												</div>
												<div class="team-desc">
													<div class="team-title">
														<h4>{{ambassador.user.first_name}} {{ambassador.user.last_name}}</h4>
														<span>{{ambassador.role}}</span>
													</div>
													<div class="team-content">
														<p>{{ambassador.bio}}</p>
													</div>
													{% if ambassador.user.email %}
														<a href="mailto:{{ambassador.user.email}}" class="social-icon inline-block si-small si-light si-rounded si-mail">
															<i class="icon-line-mail"></i>
															<i class="icon-line-mail"></i>
														</a>
													{% endif %}
													{% if ambassador.twitter %}
														<a href="http://twitter.com/{{ambassador.twitter}}" class="social-icon inline-block si-small si-light si-rounded si-twitter">
															<i class="icon-twitter"></i>
															<i class="icon-twitter"></i>
														</a>
													{% endif %}
													{% if ambassador.website %}
														<a href="{{ambassador.website}}" class="social-icon inline-block si-small si-light si-rounded si-gplus">
															<i class="icon-world"></i>
															<i class="icon-world"></i>
														</a>
													{% endif %}
												</div>
											</div>
										</div>
									{% endfor %}
								{% endif %}
							{% else %}
								<p style="text-align: center">No ambassador yet. Why don't you <a href="mailto:europecodes@gmail.com">volunteer</a>?</p>
							{% endif %}
						</div>
					{% endfor %}
				</div>

				<div id="showcountries">
					<ul class="clearfix list-style-none">
						{% for each_country in all_countries %}
							<li>
								<a href="#tabs-{{ each_country.1 }}">
									<div class="country-link" data-name="{{ each_country.0 }}">
										<img src="/static/flags/{{ each_country.1|lower }}.png" alt="{{ each_country.0 }}" />

										<div class="country-name">
											{{ each_country.0 }}
										</div>
									</div>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock content %}

{% block custom_js %}
<script type="text/javascript">
	// FIXME: find a better way to scroll to the ambassadors when clicking on a flag
	jQuery(function($) {
		$('.tabs #showcountries li[role=tab] > a').click(function() {
			var tabId = $(this).attr('href').substr(1);
			location.href = '#' + tabId;
		});
	});
</script>
{% endblock %}
