{% extends 'base.html' %}
{% load static %}
{% block title %}- Map of Events{% endblock title %}

{% block main_navigation %}{% endblock %}
{% block content %}
	<div class="landing-wrapper">
		<div class="events-map-wrapper">
			<div id="events-map"></div>
		</div>
		<div class="index-heading"><h1>#codeEU Map of Events</h1></div>
		<div class="form-inline search-event-form col-md-4" role="form">
			<div class="form-group">
				<input type="text" class="form-control" id="search-event"
				       placeholder="Search For Events" autocomplete="off" data-pjax>
				<a href="#" class="search-btn"><i class="fa fa-search"></i></a>
			</div>
		</div>
		<div class="add-event-wrapper">
			<a href="{% url 'web.add_event' %}" class="add-event-btn btn btn-primary btn-icon btn-lg fa-map-marker">
				Add Your Own Event</a>
		</div>
	</div>
	{% include 'layout/top_navigation.html' %}
	<div class="container index-content">

		<h2>Latest #codeEU Events{% if country %} in <span id="country">{{ country.country_name }}</span>{% endif %}</h2>
		{% if latest_events %}
			<div class="clearfix" id="events-list">
				{% for event in latest_events %}
					<div class=" col-md-4 {% if forloop.first %}first{% endif %}">
						<div class="thumbnail">
							<div class="title"><a href="{% url 'web.view_event' event.id event.slug %}">{{ event.title }}</a></div>
							<a href="{% url 'web.view_event' event.id event.slug %}" class="img-link">
								<img src="//maps.googleapis.com/maps/api/staticmap?markers={{ event.geoposition }}&zoom=9&size=390x80&sensor=false">
							</a>

							<div class="caption">
								<p>{{ event.description|truncatewords:20 }}</p>


								<a href="{% url 'web.view_event' event.id event.slug %}"
								   class="btn btn-primary btn-directional fa-arrow-right btn-sm"
								   role="button">View</a>

								<span class="countdown pull-right">
									Happening in:
									{{ event.start_date|timeuntil }}
								</span>

							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p>
				No events yet. <a href="{% url 'web.guide' %}">Why don't you organize your own?</a>
			<p>
		{% endif %}

		<div class="change-location-wrapper">
			{% if country %}
				Little birdie told us you come from {{ country.country_name }},
				so we are showing you events from this great country.
				<br />
			{% endif %}
			<a class="change-country-link btn btn-sm" href="#">
				See events in other countries
			</a>
		</div>

		<hr />

		<h1>
			<a href="{% url 'web.guide' %}">How do I organize my own event?</a>
		</h1>

	</div>


{% endblock content %}

{% block custom_js %}
	<script type="text/javascript" src="{% static 'lib/bootstrap-sass/javascripts/bootstrap/affix.js' %}"></script>
	<script src="{% static "js/markerclusterer.js" %}"></script>
	<script src="{% static "lib//pjax/jquery.pjax.js" %}"></script>
	<script type="text/javascript"
	        src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA3XIqeAZB_JDD7qSLBeqMRp0rvD2tcCrU&sensor=false">
	</script>
	<script type="text/javascript" src="{% static 'js/cw-maps.js' %}"></script>
	<script type="text/javascript">
		Codeweek.Index.init('{{map_events|safe}}', {{ lan_lon.0 }}, {{ lan_lon.1 }})
	</script>
{% endblock %}
