{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% block title %}- Map of Events{% endblock title %}

{% block social %}
	<meta name="description" content="October 11 - 17, 2014: a week to celebrate coding in Europe, encouraging citizens to learn more about technology, and connecting communities and organizations who can help you learn coding." />

	<meta property="og:title" content="Europe Code Week" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://events.codeweek.eu/static/img/social_default_picture.png" />
	<meta property="og:url" content="http://codeweek.eu" />
	<meta property="og:description" content="October 11 - 17, 2014: a week to celebrate coding in Europe, encouraging citizens to learn more about technology, and connecting communities and organizations who can help you learn coding." />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:url" content="http://codeweek.eu" />
	<meta name="twitter:title" content="Europe Code Week" />
	<meta name="twitter:description" content="October 11 - 17, 2014: a week to celebrate coding in Europe" />
{% endblock social %}


{% block messages %}{% endblock %}
{% block content %}
	<div class="landing-outter">
		<div class="landing-wrapper">
			<div class="events-map-wrapper">
				<div id="events-map"></div>
			</div>
		</div>

		<div class="container index-content">
			<div id="past-events">
				{% if past == 'yes' %}
				<a href="{% url 'web.index' %}"><i class="fa fa-check-square-o"></i> 
				{% else %}
				<a href="{% url 'web.index' %}?past=yes"><i class="fa fa-square-o"></i>
				{% endif %}
				Show past events</a>
			</div>
			<div class="clearfix">
				<div id="search-events-link">
					<a class="btn btn-primary btn-lg"
					   href="{% url 'web.search_events' %}?country_code={{ country.country_code }}">
						<i class="fa fa-list"></i> List all events {% if country %}in
						<span id="country"> {{ country.country_name }}</span>{% endif %}
					</a>
				</div>
			</div>

			<div class="change-location-wrapper">
				<div id="showcountries" class="clearfix">
					{% for each_country in all_countries %}
						<div class="country-link" id="{{ each_country.1 }}" data-name="{{ each_country.0 }}">
							<img src="/static/flags/{{ each_country.1|lower }}.png" alt="{{ each_country.0 }}" />

							<div class="icon-flag">
								{{ each_country.0 }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<hr />

			<div class="how-to">
				<a href="{% url 'web.guide' %}" target="_blank" class="btn btn-sm">
					How to organize your own event?
				</a>
			</div>
		</div>
	</div>


{% endblock content %}

{% block custom_js %}
	<script type="text/javascript"
	        src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA3XIqeAZB_JDD7qSLBeqMRp0rvD2tcCrU&sensor=false">
	</script>
	{% compress js %}
		<script type="text/javascript" src="{% static 'lib/bootstrap-sass/javascripts/bootstrap/affix.js' %}"></script>
		<script type="text/javascript" src="{% static "js/markerclusterer.js" %}"></script>
		<script type="text/javascript" src="{% static "js/oms.min.js" %}"></script>
		<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
		<script type="text/javascript">
			Codeweek.Index.init(JSON.stringify({{ map_events|safe }}), {{ lan_lon.0 }}, {{ lan_lon.1 }});
			Codeweek.Index.media_url = '{{ MEDIA_URL|escapejs }}';
		</script>
	{% endcompress %}

{% endblock %}
