{% extends 'base.html' %}

{% block title %}- List of events{% endblock title %}


{% block content %}
	<div class="container">
		<h1>All {{ status }} events in {{ country_name }}</h1>

		{% if status == 'pending' and not event_list %}<p>
			Well done, nothing to check here. Take a look at all <a href="{% url 'web.list_events' country_code %}">approved</a>?
			</p>{% endif %}
		{% if status == 'approved' and not event_list %}<p>
			No approved events yet, check for <a href="{% url 'web.pending_events' country_code %}">pending ones</a>?
			</p>{% endif %}

		<div class="row">
			{% for event in event_list %}
				<div class=" col-md-4">
					<div class="thumbnail">
						<div class="title"><a
								href="{% url 'web.view_event' event.id event.slug %}">{{ event.title }}</a></div>
						<a href="{% url 'web.view_event' event.id event.slug %}" class="img-link">
							<img src="//maps.googleapis.com/maps/api/staticmap?markers={{ event.geoposition }}&zoom=9&size=390x80&sensor=false">
						</a>

						<div class="caption">
							<p>{{ event.description|truncatewords:20 }}</p>


							<a href="{% url 'web.view_event' event.id event.slug %}"
							   class="btn btn-primary btn-directional fa-arrow-right btn-sm"
							   role="button">View</a>

							<span class="countdown pull-right">
						{% if event.hasStarted %}
							{% if event.hasEnded %}
								Event ended
							{% else %}
								Ending in:
								{{ event.end_date|timeuntil }}
							{% endif %}
						{% else %}
								Happening in:
								{{ event.start_date|timeuntil }}
						{% endif %}
							</span>

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock content %}