{% extends 'base.html' %}
{% load event_tags %}
{% load endless %}

{% block title %}- List of events{% endblock title %}


{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% if user.is_staff %}
					<h1>All {{ status }} events</h1>
				{% else %}
					<h1>All {{ status }} events in {{ country_name }}</h1>
				{% endif %}

				{% if status == 'pending' and not event_list %}<p>
					Well done, nothing to check here. Take a look at all <a href="{% url 'web.list_events' country_code %}">approved events</a>?
					</p>{% endif %}
				{% if status == 'approved' and not event_list %}<p>
					No approved events yet, check for <a href="{% url 'web.pending_events' country_code %}">pending ones</a>?
					</p>
				{% endif %}

					{% regroup event_list by country as country_list %}

					<div class="row">
					<div class="col-md-12">
						<ul>
						{% for pending_country in country_list %}
							<li><a href="{% url 'web.pending_events' pending_country.grouper.code %}">{{ pending_country.grouper.name }} ({{pending_country.list|length}})</a></li>
						{% endfor %}
						</ul>
						</div>
					</div>


					{% with country_list|from_current_country:country_code as cl %}
					<div class="row">
						<div class="col-md-12">
							<h2>Pending events in {{country_name}}</h2>
						</div>
					</div>
					<div class="row">
						{% paginate 6 cl.list as country_events %}
						{% for event in country_events %}
							{% include 'layout/event_tile.html' %}
						{% endfor %}
					</div>
					<div>
					{% show_pages %}
					</div>
					{% endwith%}
				</div>
		</div>
	</div>

{% endblock content %}