{% extends 'base.html' %}

{% block title %}- List of events{% endblock title %}


{% block content %}
	<div class="container">
		{% if user.is_staff %}
			<h1>All {{ status }} events</h1>
		{% else %}
			<h1>All {{ status }} events in {{ country_name }}</h1>
		{% endif %}

		{% if status == 'pending' and not event_list %}<p>
			Well done, nothing to check here. Take a look at all <a href="{% url 'web.list_events' country_code %}">approved events</a>?
			</p>{% endif %}
		{% if status == 'approved' and not event_list %}<p>
			No approved events yet, check for <a href="{% url 'web.pending_events' country_code %}">pending ones</a>?
			</p>{% endif %}

		{% regroup event_list by country as country_list %}

		<div class="row">
			{% for country in country_list %}
				<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title">{{ country.grouper.name }}</h3>
					</div>
					<div class="panel-body">
						<div class="row">
						{% for event in country.list %}
							{% include 'layout/event_tile.html' %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		</div>

		</div>
	</div>

{% endblock content %}