{% extends 'base.html' %}

{% block title %}- List of events{% endblock title %}


{% block content %}
	<div class="container">
		<h1>All events created by {% if user.first_name %}{{user.first_name}} {{user.last_name}}{% else %}{{ user.username }}{% endif %}</h1>

		{% if not event_list %}
		<div class="row">
			<p>You haven't added any events yet. Why don't you <a href="{% url 'web.add_event' %}">add one now</a> or read our <a href="{% url 'web.guide' %}">guide for organizers</a>?</p>
		</div>
		{% endif %}

		<div class="row">
			{% for event in event_list %}
{% include 'layout/event_tile.html' %}
			{% endfor %}
		</div>
	</div>

{% endblock content %}