{% extends 'base.html' %}
{% load endless %}

{% block title %}- List of events{% endblock title %}


{% block content %}
	<div class="container">
		<h1>All events created by {% if user.first_name %}{{user.first_name}} {{user.last_name}}{% else %}{{ user.username }}{% endif %}</h1>

		{% if not event_list %}
		<div class="row">
			<p>You haven't added any events yet. Why don't you <a href="{% url 'web.add_event' %}">add one now</a> or read our <a href="{% url 'web.guide' %}">guide for organizers</a>?</p>
		</div>
		{% endif %}

		<div class="row">
			{% paginate 6 event_list as user_events %}
			{% for event in user_events %}
				{% include 'layout/event_tile.html' %}
			{% endfor %}
		</div>
		{% show_pages %}
	</div>

{% endblock content %}