{% extends 'base.html' %}

{% block title %}- Login{% endblock title %}


{% block content %}

	<h1>Login with one of your existing accounts</h1>
	<p>To prevent spam, we require a login before adding an event.</p>
	{% if not user.is_authenticated %}
		<ul>
			<li><a href="{% url 'social:begin' 'github' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Login with Github</a></li>
			<li><a href="{% url 'social:begin' 'twitter' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Login with Twitter</a></li>
			<li><a href="{% url 'social:begin' 'facebook' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Login with Facebook</a></li>
			<li><a href="{% url 'social:begin' 'google' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Login with Google</a></li>
		</ul>
	{% else %}
		<p>Looks like you're already logged in as
		<a href="{% url 'profile' %}">	
			{% if user.first_name or user.last_name %}
				{{ user.first_name }} {{ user.last_name }}
			{% else %}
				{{ user.username }}
			{% endif %}
		</a>. Want to <a href="{% url 'logout' %}">Logout</a>?</p>
	{% endif %}
{% endblock content %}