{% extends 'base.html' %}

{% block title %}- Events Scoreboard{% endblock title %}

{% block content %}
	<div class="container">
		<h1>#codeEU Events Scoreboard</h1>
		<ul>
		{% for country in counts %}
			<li> 
				<img src="/static/flags/{{ country.country_code|lower }}.png" alt="{{ country.country_name }}" />
				<span class="icon-flag">
					<strong>{{ country.country_name }}</strong> has <a href="{% url 'web.search_events' %}?country_code={{ country.country_code }}&amp;past=yes">{{ country.events }} approved event{% if country.events != 1 %}s{% endif %}</a>
				</span>
			</li>
		{% endfor %}
		</ul>

	</div>
{% endblock content %}