{% extends 'base.html' %}
{% load endless %}
{% load static %}
{% load compress %}


{% block title %}- Search Events{% endblock title %}

{% block search_button %}ddd{% endblock %}
{% block content %}
	<div class="container">
		<div class="search-page">
			<div class="search-options">
				<form id="faceted-search-events" method="get" action="{% url 'web.search_events' %}" enctype="multipart/form-data">
					{{ form.non_field_errors }}
					<div class="row">
						<div class="form-group col-md-9">
							{{ form.q }}
						</div>
						<div class="col-md-3"><input type="submit" class="btn btn-primary btn-lg" value="Search" /></div>
						<div class="col-md-12"><hr></div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label for="{{ form.country.id_for_label }}">{{ form.fields.country.label }}</label>
							{{ form.country }}
							<div class="search-checkbox">
								<hr>
								{{ form.past }}
								<label for="{{ form.past.id_for_label }}">{{ form.past.label }}</label>
							</div>
							<div class="search-checkbox">
								<hr>
								<label>{{ form.fields.theme.label }}</label>
								{{ form.theme }}
							</div>
							<div class="search-checkbox">
								<hr>
								<label>{{ form.fields.audience.label }}</label>
								{{ form.audience }}
							</div>
							<hr>
						</div>
						<div class="col-md-8">
							{% if events %}
							<div id="search-counter-container" class="search-counter">{{ all_results }} {% if all_results > 1 %}events match{% else %}event matches{% endif %} your search criteria:</span></div>
							{% endif %}
							<div id="events-container">
								{% include page_template %}
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}

{% block custom_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/history.js/scripts/bundled/html4+html5/jquery.history.js" %}" ></script>
<script type="text/javascript" src="{% static "js/endless_pagination/endless-pagination.js" %}" ></script>
<script type="text/javascript" src="{% static "js/faceted-search-events.js" %}" ></script>
<script type="text/javascript">
	Codeweek.FacetedSearch.init();
</script>

{% endblock %}