{% extends 'base.html' %}
{% load endless %}
{% load static %}
{% load compress %}


{% block title %}- Search Events{% endblock title %}

{% block search_button %}ddd{% endblock %}
{% block content %}
	<div class="container">
		<div class="search-page">
			<div class="search-options">
				<form id="faceted-search-events" method="post" action="{% url 'web.search_events' %}" enctype="multipart/form-data">{% csrf_token %}
					{{ form.non_field_errors }}
					<div class="row">
						<div class="form-group col-md-9">
							{{ form.search }}
						</div>
						<div class="col-md-3"><input type="submit" class="btn btn-primary btn-lg" value="Search" /></div>
						<div class="col-md-12"><hr></div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label for="id_country">{{ form.fields.country.label }}</label>
							{{ form.country }}
							<div class="search-checkbox">
								<hr>
								{{ form.past_events }}
								<label for="id_include_past">{{ form.past_events.label }}</label> 
							</div>
							<div class="search-checkbox">
								<hr>
								<label>{{ form.fields.theme.label }}</label>
								{{ form.theme }}
							</div>
							<div class="search-checkbox">
								<hr>
								<label>{{ form.fields.audience.label }}</label>
								{{ form.audience }}
							</div>
							<hr>
						</div>
						<div class="col-md-8">
							<div id="events-container">
								{% include page_template %}
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}

{% block custom_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/endless_pagination/custom-endless-pagination.js" %}" ></script>
<script type="text/javascript" src="{% static "js/faceted-search-events.js" %}" ></script>
<script type="text/javascript">
	Codeweek.FacetedSearch.init();
</script>

{% endblock %}