{% extends 'base.html' %}
{% load event_tags %}

{% block title %}- Event Details{% endblock title %}

{% block content %}

	<div class="container">
		<div id="fb-root"></div>
		{% if user.profile.is_ambassador and user.profile.country == event.country %}
			<div class="edit-toolbar">
				<a href="{% url 'web.edit_event' event.id %}" class="btn pull-right edit-event-btn">
					<i class="fa fa-pencil-square-o"></i>Edit event</a>

				<div id="change_status">
					{% if event.status == 'PENDING' %}
						<div class="alert alert-warning">
							This event is stil <strong>Pending</strong>.
							If it looks good then
							<a class="btn btn-sm btn-primary" href="{% url 'web.change_status' event.pk %}">
								approve
							</a> it.
						</div>
					{% elif event.status == 'APPROVED' %}
						<div class="alert alert-info">
							This event is nice and approved. You can revert it to
							<a href="{% url 'web.change_status' event.pk %}"><strong>pending</strong></a> or check other <a href="{% url 'web.pending_events' user.profile.country %}"><strong>pending events in {{ user.profile.country.name }}</strong></a>.
						</div>
					{% endif %}
	            </div>
			</div>
		{% endif %}
		{% if event.picture %}
			<div class="event-jumbotron">
				<img src="{{ event.picture.url }}" alt="{{ event.title }} Cover Image" role="image" />
			</div>
		{% endif %}

		<h1>{{ event.title }}</h1>

		<div class="about-event clearfix">
			<div class="col-md-8 event-description first">
				<strong>Organized by:</strong>

				<p> {{ event.organizer }}</p>
				{% if event.contact_person %}
					<strong>Contact email:</strong><br>
					<p><a href="mailto:{{ event.contact_person }}">{{ event.contact_person }}</a></p>
				{% endif %}
				<address>
					<strong>Happening at: </strong><br />
					{{ event.location }}
				</address>
				<p>
					<strong>From</strong> {{ event.start_date|date:"l, M n, Y" }} at {{ event.start_date|date:"H:i" }} <strong>to</strong> {{ event.end_date|date:"l, M n, Y" }} at {{ event.end_date|date:"H:i" }}
				</p>
				<strong>Description:</strong>
				<p>
					{{ event.description }}
				</p>
				{% if event.event_url %}
				<strong>More information:</strong>
				<p><a href="{{ event.event_url }}" target="_blank">{{ event.event_url }}</a></p>
				{% endif %}
				{% if event.tags %}
					<strong>Tags:</strong>
					<p>
						{% for tag in event.tags.all %}
							{% if forloop.last %}
								{{ tag.name }}
							{% else %}
								{{ tag.name }}
							{% endif %}
						{% endfor %}
					</p>
				{% endif %}
				<hr>
				<strong>Share the event:</strong>
				<p>
					<div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button_count"></div>

				</p>
			</div>

			<div class="col-md-4 event-time-place">
				<div id="calendar">
					{{ event.start_date|render_calendar:event.end_date }}
				</div>
				<div id="view-event-map-wrapper">
					<div id="view-event-map"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block custom_js %}
	{% load static %}

	<script type="text/javascript"
	        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3XIqeAZB_JDD7qSLBeqMRp0rvD2tcCrU&sensor=false">
	</script>

	<script type="text/javascript">

		function initialize() {
			var myLatlng = new google.maps.LatLng({{ event.geoposition.latitude }}, {{ event.geoposition.longitude }});
			var mapOptions = {
				zoom: 15,
				center: myLatlng
			};
			var map = new google.maps.Map(document.getElementById('view-event-map'),
					mapOptions);
			var infowindow = new google.maps.InfoWindow({
				content: "<p><strong>{{ event.title }}</strong></p>{{ event.location }}"
			});
			var marker = new google.maps.Marker({
				position: myLatlng,
				animation: google.maps.Animation.DROP,
				title: "{{ event.location }}",
				zoomControl: true,
				zoomControlOptions: {
					style: google.maps.ZoomControlStyle.LARGE
				}
			});
			marker.setMap(map);
			google.maps.event.addListener(marker, 'click', function () {
				infowindow.open(map, marker);
			});
		}
		google.maps.event.addDomListener(window, 'load', initialize);

	</script>

	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=219052144964057";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}