{% load static %}
{% load avatar_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description"
	      content="October 11 - 17, 2014: a week to celebrate coding in Europe, encouraging citizens to learn more about technology, and connecting communities and organizations who can help you learn coding." />
	<title>Europe Code Week {% block title %}{% endblock title %}</title>

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	{% compress css %}

		<link href="{% static 'scss/style.scss' %}"
		      media="screen" rel="stylesheet" type="text/x-scss" />
		<link href="{% static 'css/custom.css' %}"
		      media="screen" rel="stylesheet" />


		{% block custom_css %}{% endblock %}
	{% endcompress %}
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
	<link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="http://assets.cookieconsent.silktide.com/current/style.min.css" />
</head>
<body>
{% block main_navigation %}
	{% include 'layout/top_navigation.html' %}

{% endblock %}

{% block messages %}
	{% include 'layout/messages.html' %}
{% endblock messages %}

{% block content %} {% endblock content %}

{% include 'layout/footer.html' %}

<!--Scripts------------------------------------------------------------------------------------------->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "lib/jquery/jquery.js" %}"><\/script>')</script>
{% compress js %}
	<script type="text/javascript" src="{% static 'lib/bootstrap-sass/javascripts/bootstrap/dropdown.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/bootstrap-sass/javascripts/bootstrap/modal.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/cw-maps.js' %}"></script>

	<script type="text/javascript">
		Codeweek.Index.init();
	</script>

{% endcompress %}

{% block custom_js %}{% endblock custom_js %}

<!--End Scripts------------------------------------------------------------------------------------------->
</body>
</html>