/*********************
MAIN STYLES
*********************/

body {

}

.form-control {
	margin-top: 5px;
	margin-bottom: 5px;
}

.first {
	padding-left: 0;
}

.last {
	padding-right: 0;
}

/*********************
NAVIGATION STYLES
*********************/

.navbar {

	margin-bottom: 0;
	border-radius: 0;

	&.affix {
		width: 100%;
		top: 0;
		left: 0;
		z-index: 10000;
	}

}

.navbar-glass {
	background-color: rgba(0, 0, 0, 0.2);
}

.navbar-nav {
	a {

		&.avatar {
			padding: 9px;
		}
	}
}

.dropdown {

	.dropdown-menu {
		a{
			padding: 3px 20px 3px 5px;
		}

		i {
			font-size: 18px;
			border-right: 1px dotted #999;
			padding: 5px;
			margin-right: 2px;
			width: 30px;
		}
	}
}


/*********************
LOGIN MODAL WINDOW STYLES
*********************/
#login-modal{
	.modal-header {
		border-bottom: none;
	}
	.modal-footer {
		border-top: none;
	}
}

.btn-social {

	i{
		line-height: 68px !important;
	}

}


/*********************
LANDING PAGE MAP STYLES
*********************/
.landing-wrapper {
	height: 450px;
	position: relative;
	top: 0;
	left: 0;
}

.events-map-wrapper {
	width: 100%;
	height: 450px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.search-event-form {
	position: absolute;
	top: 20px;
	left: 20px;

	input {
		width: 400px;
	}
}

.add-event-wrapper {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

/*********************
INDEX PAGE STYLES
*********************/

.index-heading {
	font-size: 18px;
	position: absolute;
	right: 40px;
	h1 {
		margin-top: 20px;
	}

}

.index-content {

}

.search-event-form {
	.form-group {
		width: 100%;
		position: relative;
	}
	input[type="text"] {
		width: 100% !important;
		margin: 0;
		border-radius: 0;
	}

	.search-btn {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		font-size: 20px;
		color: $slate;
		border: none;
		background: transparent;
		padding: 0 15px;
	}
}

.change-location-wrapper, .change-country-link {
	margin: 20px 0;
}

/*********************
ADD/EDIT EVENT PAGE STYLES
*********************/
.how-to {
	margin-top: 25px;
}

.event-footnote {
	margin: 50px 0;
	font-style: italic;
}

.fileinput-preview {
	img {
		width: 100%;
	}
}

/*********************
FOOTER STYLES
*********************/

footer {
	width: 100%;
	background-color: $slate;
	color: $silver;

	.maker-introduction {
		margin: 20px 0;

	}
	.fork-github {
		margin: 20px 0;
		text-align: center;
		a {
			display: block;
		}
		i {
			font-size: 50px;
			color: $silver;
		}

	}
	img {
		&.cc-icons {
			margin: 20px 0;
		}
		&.codecatz-logo {
			width: 100px;
			display: block;
		}
	}
}

/*********************
AVATAR STYLES
*********************/
.avatar {

	img {
		padding: 2px;
		background-color: $white;
		margin-top: 3px;
	}
}

/*********************
VIEW EVENT STYLES
*********************/
.edit-toolbar {
	margin: 20px 0;

	.edit-event-btn {
		margin-top: 1px;
		margin-right: 1px;
	}
}

.event-jumbotron {
	img {
		width: 100%;
		margin: 50px 0 20px 0;
	}

}

#view-event-map-wrapper {
	width: 100%;
	height: 300px;
}

.about-event {
	margin-bottom: 50px;
}

#calendar {

	margin: 0 0 20px 0;

	&>table {
		width: 100%;
		&>tbody>tr {
			&>th {
				background-color: $slate;
				color: $white;
				font-family: $headings-font-family;
				text-align: center;
				padding: 5px 0;
			}
			&>td {
				border-top: 1px solid $silver;
				text-align: center;
				width: 14.285%;
				height: 43px;

				&.filled {
					span {
						background-color: $golden;
						padding: 10px;
						border-radius: 50%;
						width: 80%;
						display: block;
					}
					&.today {
						span {
							padding: 7px;
							border: 3px solid $golden;
							width: 80%;
							display: block;
						}

					}

				}

				&.today {
					span {
						background-color: $brand-primary;
						padding: 10px;
						border-radius: 50%;
						width: 80%;
						display: block;
					}

				}

			}
		}
	}

}
