
.form-control {
	@include form-control-focus($color: $steel);
}

.form-group {

	label {
		i.fa-asterisk {
			font-size: 8px;
			vertical-align: text-top;
		}
	}
}

.form-group {

	ul {
		list-style-type: none;
		padding-left:0;
		label {
		font-weight: normal;
		}
	}
}

.input-with-icon {
	position: relative;

	&.has-error {
		i{
			color: $state-danger-text;
		}
	}


	input[type="text"] {
		padding-left: 50px;
	}

	i:not(.fa-asterisk) {
		position: absolute;
		margin-top: -28px;
		margin-left: 15px;
	}
}

