.cweu-navbar {
	background-color: $primary-color;
	font-family: $primary-font-family;
	border: none;
	padding-top: 15px;
	margin-bottom: 0;
	border-radius: 0;

	a {
		color: $white;

	}

	.navbar-brand {
		padding-top: 0;
		img {
			width: 250px;
		}
	}

	.cweu-navbar-list {
		font-size: 16px;
		margin-top: 10px;

		li {
			border-left: 5px solid $primary-color;

			&:first-child {
				border: none;
			}
			a {
				@include transition(all 0.3s linear);

				&:hover, &:focus, &.active {
					background-color: transparent !important;
					color: $white !important;
					text-decoration: underline;
				}
			}
		}
	}

	.dropdown {

		.dropdown-menu {
			@include box-shadow(none);

			a {
				padding: 3px 20px 3px 5px;
			}

			i {
				font-size: 18px;
				border-right: 1px dotted #999;
				padding: 5px;
				margin-right: 2px;
				width: 30px;
			}
		}
	}


	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
		background-color: transparent;
		border-color: none;
	}
}

.cweu-submenu {
	margin-bottom: 0;
	background-color: $secondary-color;
	border-radius: 0;

	.navbar-nav {
		width: 100%;
	}
	li {

		a {
			font-size: 16px;
			color: $white;
			@include transition(all 0.3s linear);

			&:hover, &:focus, &.active {
				background-color: $secondary-color;
				color: $white;
				.fa-circle {
					color: #FFBB34;
				}
			}
		}

		&:first-child{
			a{
				padding-left: 0;
			}
		}

		&.open{
			a, a:hover, a:focus{
				background-color: $primary-color;
			}
		}
	}
	.dropdown-menu{
		background-color: $secondary-color;
		border: none;
		margin-top: 3px !important;
		li{
			a{
				background-color: $secondary-color;
				padding: 15px;
			}
		}

		.divider{
			background-color: $primary-color;
		}
	}
	.fa-stack {
		margin-right: 10px;
		.fa-circle {
			color: $primary-color;
			@include transition(all 0.3s linear);
		}
	}
	.search-wrapper {
		position: relative;
		top: 5px;
	}

	#search-input {
		height: 100%;
		border: none;
		padding-right: 50px;
		text-transform: uppercase;
		font-size: 20px;
	}

	.search-btn {
		position: absolute;
		top: 0;
		z-index: 2;
		right: 0;
		padding: 4px;
		background-color: $primary-color;

		&:hover {
			background-color: transparent;
		}
		&.active {
			.fa {
				color: $primary-color;
			}
		}
	}

	.avatar {
		padding: 8px 9px 9px 9px;

		&:hover, &:focus {
			background-color: transparent;
		}

		img {
			padding: 2px;
			background-color: $white;
			margin-top: 3px;
			margin-left: 15px;
		}
	}

}

.signin-menu {

	li {
		a {
			margin-top: 1px;
			&:hover {
				background-color: $secondary-color;
			}
		}
	}

}