{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="description" content="October 11 - 17, 2014: a week to celebrate coding in Europe, encouraging citizens to learn more about technology, and connecting communities and organizations who can help you learn coding." />
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
	<link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
	<title>Europe Code Week {% block title %}{% endblock title%}</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">	
	<link href="{% static "css/custom.css" %}" rel="stylesheet">

</head>
<body>
	<div class="container" id="navigation">
		<div class="pure-g-r">
			<div class="pure-u-1-1">
			<div class="pure-menu pure-menu-open pure-menu-horizontal">
			    <a href="http://codeweek.eu" class="pure-menu-heading">Europe Code Week</a>

			    <ul>
			        <li><a href="/">Map</a></li>
			        <li><a href="http://codeweek.eu/learn">Resources</a></li>
			        <li><a href="http://codeweek.eu/code">Why coding?</a></li>
			        <li><a href="http://codeweek.eu/about/">About</a></li>
			        <li><a href="http://codeeu.tumblr.com/">News</a></li>
			    </ul>
			</div>
		</div>
	</div>
	</div>
	<div class="container" id="main-content">
		{% block content %}{% endblock content %}
	</div>
</body>
</html>