<div class="container">
	<h1>Thanks for adding your event!</h1>

	<p>One of our local ambassadors will now review your event
		<a href="{% url 'web.view_event' event.pk event.slug %}"><strong>{{ event.title }}</strong></a>
	    and make sure we've got all the important details. <br />
	    If you have any questions, get in touch with one of our
		<a href="{% url 'web.ambassadors' %}">local ambassadors</a> or send us an <a href="mailto:europecodes@gmail.com?subject=My Code Week event">email</a>.</p>
</div>
