{% load avatar_tags %}

<nav class="navbar navbar-inverse" role="navigation" data-spy="affix" data-offset-top="450">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
			        data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Europe Code Week</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="{% url 'web.index' %}">Map</a></li>
				<li class="toggle-topbar menu-icon"><a href="http://codeweek.eu/learn">Resources</a></li>
				<li class="toggle-topbar menu-icon"><a href="http://codeweek.eu/code">Why coding?</a></li>
				<li class="toggle-topbar menu-icon"><a href="http://codeweek.eu/about/">About</a></li>
				<li class="toggle-topbar menu-icon"><a href="http://codeeu.tumblr.com/">News</a></li>
				<li class="dropdown">
					{% if user.is_authenticated %}
						<a href="{% url 'profile' %}" class="dropdown-toggle avatar" data-toggle="dropdown">
							{% avatar user 30 %}
						</a>
						<ul class="dropdown-menu" role="menu">
							{% if user.profile.is_ambassador %}
								<li>
									{% if user.profile.country %}
										<a href="{% url 'web.pending_events' user.profile.country %}">
											Pending events in {{ user.profile.country.name }}</a>
									{% else %}
										<a href="{% url 'profile' %}">Set your country</a>
									{% endif %}
								</li>
								<li><a href="{% url 'profile' %}">Profile</a></li>
								<li class="divider"></li>
							{% endif %}
							<li><a href="{% url 'logout' %}">Sign out</a></li>
						</ul>
					{% else %}
						<a href="{% url 'profile' %}" class="dropdown-toggle" data-toggle="dropdown"
						   data-trigger="hover" data-target="#">Login</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="{% url 'social:begin' 'github' %}"><i class="fa fa-github-square"></i></a>
								<a href="{% url 'social:begin' 'twitter' %}"><i class="fa fa-twitter-square"></i></a>
								<a href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook-square"></i></a>
								<a href="{% url 'social:begin' 'google' %}"><i class="fa fa-google-plus-square"></i></a>
							</li>
						</ul>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>

